.blog__header {
  background-color: #edf6fa;
  width: 100%;
  padding-top: 200px;

  &__text {
    padding-bottom: 150px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}

.blog {
  &__container {
    margin: -40px auto 100px auto;
    width: 80%;
    max-width: 1200px;
    column-count: 3;
    column-gap: 40px;
  }

  &__post {
    background-color: rgb(255, 255, 255);
    border: 1px solid #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.2);
    transition: 0.3s all ease-in-out;
    &:hover {
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.06);
    }

    &:hover .blog__post__title {
      color: #294cff;
    }

    &__link {
      color: #000;
    }

    &__details {
      padding: 20px;
    }

    &__title {
      transition: 0.3s all ease-in-out;
    }

    &__image__wrapper {
      height: 300px;
      width: 100%;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &__excerpt p {
      color: #5a5a5a;
    }
  }
  &__description {
  }
}
