.footer {
  background: linear-gradient(90deg, #00a0e0 0%, #00abef 100%);
  color: #ffffff;
  text-align: center;

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

  &__section {
    width: 26%;
  }

  &__heading {
    font-family: "Source Serif Pro", serif;
    font-size: 39px;
    line-height: 47px;
    font-weight: 400;
    margin-top: 80px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #ffffff;
  }

  &__btn {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    border: 1px solid #ffffff;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    padding: 11px 54px;
    transition: all 300ms ease-in-out;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }

  &__media {
    display: flex;
    justify-content: space-evenly;

    &__icon {
      opacity: 0.5;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__nav {
    border-top: 1px solid #ffffff3a;

    &__list {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      padding: 40px;
    }
  }

  &__credentials p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 20px;
  }
}
