.homepage-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("img/homepage-header.jpg");
  background-size: cover;
  //background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
  color: #fff;
}

.homepage-intro {
  background: linear-gradient(90deg, #7971bd 0%, #8078c0 100%);
  padding: 4.5rem 0 5rem 0;
  &__text {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    width: 75%;
    max-width: 1480px;
    margin: auto;
    line-height: 42px;
  }
}

.homepage-services {
  padding: 80px 0;
}

.homepage-cas {
  padding: 80px 0;
  &__container {
    width: 80%;
    display: flex;
    margin: 0 auto;
  }

  &__layout-item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 90%;
    }
  }
}

.homepage-tabmenu {
  &__list {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 40px auto 0 auto;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #bfbfbf;
  }

  &__item {
    padding: 6px 0;
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px;

    & a {
      border-bottom: 3px solid transparent;
      transition: all 0.4s linear;
      color: #424242;

      &.curent {
        color: #7971bd;
        border-bottom-color: #7971bd;
      }
    }

    & a:hover {
      color: #7971bd;
      border-bottom: 3px solid #7971bd;
    }
  }

  &__item:nth-child(2) {
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
  }
}

.cas-detail {
  display: none;
  opacity: 0;
  width: 80%;
  margin: 0 auto;

  &__heading {
    text-align: center;
    font-family: "Source Serif Pro", serif;
    color: #424242;
    font-weight: 400;
    font-size: 33px;
    line-height: 51px;
    margin-top: 20px;

    &__container {
      width: 40%;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
    &__container {
      width: 40%;
    }
  }
}

.cas-detail.is-visible {
  display: flex;
  opacity: 1;
  justify-content: center;
}

.projects-container {
  width: 80%;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.465);
  color: #ffffff;
  opacity: 0;
  z-index: 4;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 33px;
  line-height: 53px;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  padding: 40px;
}

.project {
  width: 48%;
  height: 500px;
  position: relative;
  overflow: hidden;

  &__background {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }

    &:hover > .overlay {
      opacity: 1;
    }
  }

  &__title {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    text-transform: uppercase;
    z-index: 5;
    pointer-events: auto;
  }

  &__arrow-btn {
    font-size: 80px;
    color: #ffffff;
  }
}

.testimonial {
  background: linear-gradient(90deg, #7971bd 0%, #837bc2 100%);
  width: 80%;
  // height: 500px;
  margin: 40px auto;
  text-align: center;
  color: #ffffff;
  padding: 60px;

  &__icon {
    font-size: 80px;

    color: #ffffffa9;
  }

  &__text {
    font-size: 33px;
    line-height: 43px;
    font-weight: 400;
  }

  &__author {
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
  }
}
