.services {
  background-color: #edf6fa;
}

.services-header {
  padding-top: 200px;
  padding-bottom: 150px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.services-navigation {
  background-color: #ffffff;
  box-shadow: 0 0.55556rem 2.77778rem 0px rgba(0, 0, 0, 0.05);

  z-index: 5;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
  }

  &__item {
    cursor: pointer;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
    font-size: 17px;
    line-height: 19px;
    font-weight: 400;

    &::not(:first-child):not(:last-child) {
      border-left: 1px solid #bfbfbf;
      border-right: 1px solid #bfbfbf;
    }

    &__link {
      border-bottom: 3px solid transparent;
      padding: 6px 20px;
      transition: all 0.1s linear;
      color: #424242;

      &.activeSection {
        color: #7971bd !important;
        border-bottom: 6px solid #7971bd !important;
      }
    }

    & a:hover {
      color: #7971bd;
      border-bottom: 6px solid #7971bd;
    }
  }
}

.services-section {
  min-height: 100vh;

  &__container .services-section:nth-child(odd) {
    background-color: #fafafa;
  }

  &__wrapper {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &--reverse {
      flex-direction: row-reverse;
    }
  }
}

.services {
  &-text__wrapper {
    padding-left: 60px;
  }

  &__heading {
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
    color: #424242;
    font-family: "Source Serif Pro", serif;

    &--purple {
      color: #7971bd;
      font-size: 30px;
      line-height: 43px;
      font-weight: 400;
    }
  }

  &__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #424242;
  }

  &__image {
    height: 700px;
    padding-left: 60px;
    & img {
      height: 100%;
    }
  }

  &-contact__banner {
    background-color: #8078c0;
    width: 100%;
    padding: 100px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    & a {
      color: #fff;
      font-size: 43px;
      line-height: 66px;
      font-weight: 400;
      font-family: "Source Serif Pro", serif;
    }

    & h4 {
      margin: 0;
    }
  }
}

.sticky-nav {
  position: fixed;
  top: 100px;
  width: 100%;
}
