#sidebar {
  h3 {
    font-family: "Source Serif Pro", serif;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  li {
    margin: 10px auto;

    a {
      color: #00aaee;
      line-height: 10px;
      transition: color 0.4s;
      &:active {
        color: #424242;
      }
      &:hover {
        color: #424242;
      }
    }
  }

  input {
    border: 2px solid #ccd8df;
    transition: border-color 0.1s;
    outline: none;
    color: #737373;
    font-weight: 400;
    width: 80%;
    padding: 0 10px;
    border-radius: 0.33333rem;
    height: 30px;
    background-color: transparent;
    appearance: none;
    font-size: 1rem;
    &:hover {
      border-color: #7971bd;
    }
    &:focus {
      border-color: #7971bd;
    }
  }

  button {
    border: 2px solid #ccd8df;
    border-radius: 4px;
    transition: border-color 0.1s;
    outline: none;
    color: #f5f5f5;
    background-color: #00aaee;
    height: 30px;
    &:hover {
      background-color: #7971bd;
      cursor: pointer;
    }
  }
}
