.project-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    @include maxw(900) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__background {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    width: 100%;

    &__overlay {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to bottom left,
        rgba(0, 0, 0, 0.678),
        rgba(0, 0, 0, 0)
      );
    }
  }
}

.project-main {
  &__container {
    width: 80%;
    margin: 60px auto;

    @include maxw(900) {
      width: 90%;
    }
  }
}

.project-content {
  max-width: 60%;
  margin: 0 auto;

  @include maxw(900) {
    max-width: 90%;
  }
  & h2 {
    font-family: "Source Serif Pro", serif;
    color: #424242;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
  }

  & p {
    font-family: "Roboto", sans-serif;
    color: #424242;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
  }
}
