html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
}

// Screen with max width
@mixin maxw($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}
// Screen between min & max
@mixin minmaxw($min, $max) {
  @media screen and (min-width: $min+"px") and (max-width: $max+"px") {
    @content;
  }
}
