body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
}

.heading {
  font-family: "Source Serif Pro", serif;
  color: #424242;
  font-weight: 400;

  &--white {
    color: #fff;
  }

  &__primary {
    font-size: 61px;
    line-height: 73px;
    margin-bottom: 0;

    &--services {
      font-size: 43px;
      line-height: 58px;
    }
  }

  &__secondary {
    font-size: 41px;
    line-height: 50px;
    margin-top: 0;
    &--services {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      line-height: 30px;
      font-weight: 300;
    }
  }
  &__tertiary {
    font-size: 20px;
    line-height: 33px;
    margin-top: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
}

.homepage-card__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #7971bd;
  margin: 10px 0;
  &--black {
    color: #424242;
  }
}

.homepage-card__text {
  font-family: "Source Serif Pro", serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #424242;
}

.homepage-card__btn {
  color: #7971bd;
  font-size: 20px;
  line-height: 30px;
  &:hover {
    text-decoration: underline;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
